<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <title>課程查詢-軟工</title>
    </head>

    <body style="font-family: Microsoft JhengHei;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">NCCCCCU課程查詢-軟工</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">nothing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Debug
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="setup/">Configure ClassTime</a>
                            <a class="dropdown-item" href="result/">Result page</a>
                            <a class="dropdown-item" href="#">Import data from csv</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="admin/">Admin</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Body-->
        <div class="container" style="padding-top: 10px">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">NCCU 選課查詢系統</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>

            <form action="/" method="post">
                {% csrf_token %}
                <div class="row form-group justify-content-center" style="padding-top: 2%; padding-bottom: 2%;">
                    <div class="col-10">
                        <input class="form-control form-control-lg" type="text" name="searchText" placeholder="課程名稱、教師姓名、課號...">
                    </div>
                    <button class="col-2 btn btn-lg btn-outline-dark" type="submit">搜尋</button>
                </div>
            </form>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>
                                <strong>分類清單</strong>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <ul class="col-6">
                                    <li>整開/通識課程</li>
                                    <ul>
                                        <li>整開</li>
                                        <li>通識</li>
                                        <ul>
                                            <li>中國語文</li>
                                            <li>外國語文</li>
                                            <li>人文科學類</li>
                                            <li>社會科學類</li>
                                            <li>自然科學類</li>
                                            <li>跨領域學類</li>
                                            <li>書院</li>
                                        </ul>
                                    </ul>
                                    <li>輔系/學分學程</li>
                                    <ul>
                                        <li>輔系</li>
                                        <li>學分學程</li>
                                        <li>教育實習與實務</li>
                                    </ul>
                                </ul>
                                <ul class="col-6">
                                    <li>服務學習/體育/國防課程</li>
                                    <ul>
                                        <li>服務學習</li>
                                        <li>體育</li>
                                        <li>國防</li>
                                    </ul>
                                    <li>學院</li>
                                    <ul>
                                        <li>文學院</li>
                                        <li>社科院</li>
                                        <li>商學院</li>
                                        <li>傳播學院</li>
                                        <li>外語學院</li>
                                        <li>法學院</li>
                                        <li>理學院</li>
                                        <li>教育學院</li>
                                        <li>國際事務學院</li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

</html>