<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>搜尋頁面</title>
</head>
<body>
    <form action="/search" method="get">
        <input type="text" name="q">
        <input type="submit" value="search">
    </form>
    <form action="/search_teacher" method="get">
        <input type="text" name="q">
        <input type="submit" value="search teacher">
    </form>
    <form action="/search_courses" method="get">
        <input type="text" name="q">
        <input type="submit" value="search courses">
    </form>
    <form action="/search_token" method="get">
        <input type="text" name="q">
        <input type="submit" value="search token">
    </form>
    <form action="/search_location" method="get">
        <input type="text" name="q">
        <input type="submit" value="search location">
    </form>
    <form action="/search_department" method="get">
        <input type="text" name="q">
        <input type="submit" value="search department">
    </form>
</body>
</html>
